* {
    box-sizing: border-box;
    /* background-color: midnightblue; */
}

.millenial {
    background-color: darkgreen;
    font-family: "PT Sans", sans-serif;
}
.boomer {
    background-color: midnightblue;
    font-family: "Comic Sans MS", sans-serif;
    font-size: 1.2em;
}

.flexcenter {
    display: flex;
    justify-content: center;
}
/* .flexcentercolumn {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
} */

a {
    text-decoration: none;
    color: black;
}

h1 {
    text-align: center;
}

input,
textarea,
button {
    font-family: inherit;
    background-color: inherit;
}

button {
    cursor: pointer;
}

::placeholder {
    color: blue;
    opacity: 0.6;
}

.small-image {
    height: 200px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.input {
    width: 200px;
    height: 30px;
    margin: 20px;
    font-size: 1.2em;
    font-weight: bolder;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.select {
    width: 200px;
    height: 30px;
    margin: 20px;
    font-size: 1.2em;
    font-weight: bolder;
}
.button {
    font-size: 1.2em;
    color: lightgrey;
    font-weight: bolder;
    border-radius: 30px;
    border-color: lightgrey;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}
.button:hover {
    filter: invert(1);
}

.link {
    text-decoration: none;
    color: lightgrey;
    font-weight: bolder;
}

.millenial {
    background-color: darkgreen;
    font-family: "PT Sans", sans-serif;
}
.boomer {
    background-color: midnightblue;
    font-family: "Comic Sans MS", sans-serif;
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    color: lightgrey;
    padding: 15px;
}
.header-heading {
    padding: 15px;
}

/* .private-chat-component {
    border: 3px solid blue;
} */

.private-chat-container-visible {
    visibility: visible;
}

.private-chat-container {
    border: 3px solid yellow;
}

/* .chat-container {
    overflow-y: scroll;
    height: 80vh;
} */

/* https://leaverou.github.io/bubbly/ */
.speech-bubble {
    position: relative;
    background: pink;
    border-radius: 0.4em;
}

.speech-bubble:after {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    width: 0;
    height: 0;
    border: 62px solid transparent;
    border-bottom-color: pink;
    border-top: 0;
    border-left: 0;
    margin-left: -31px;
    margin-top: -62px;
}

.component {
    padding: 15px;
    margin-top: 30px;
    /* display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; */
}

.chat-bubble-left {
    position: relative;
    background: #8000ff;
    border-radius: 0.4em;
    padding: 10px;
    color: pink;
    box-shadow: 4px 4px 4px #999;
}
.chat-bubble-left:after {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    width: 0;
    height: 0;
    border: 27px solid transparent;
    border-right-color: #8000ff;
    border-left: 0;
    border-bottom: 0;
    margin-top: -13.5px;
    margin-left: -27px;
}

.chat-bubble-right {
    position: relative;
    background: #8000ff;
    border-radius: 0.4em;
    padding: 10px;
    color: pink;
    box-shadow: 4px 4px 4px #999;
}

.chat-bubble-right:after {
    content: "";
    position: absolute;
    right: 0;
    top: 50%;
    width: 0;
    height: 0;
    border: 27px solid transparent;
    border-left-color: #8000ff;
    border-right: 0;
    border-top: 0;
    margin-top: -13.5px;
    margin-right: -27px;
}
.chat-container-right {
    display: flex;
    justify-content: flex-end;
    margin: 9px;
}
.chat-container-left {
    display: flex;
    justify-content: flex-start;
    margin: 9px;
}
.messenger-name-right {
    margin-left: 70px;
    color: #8000ff;

    padding: 10px;
    border: 3px solid #8000ff;
    border-radius: 50%;
    font-weight: bolder;
    line-height: 2;
    box-shadow: 4px 4px 4px #999;
}

.messenger-name-right:hover {
    filter: invert(1);
}
.messenger-name-left {
    margin-right: 70px;
    color: #8000ff;
    padding: 10px;
    border: 3px solid #8000ff;
    border-radius: 50%;
    font-weight: bolder;
    line-height: 2;
    box-shadow: 4px 4px 4px #999;
}
.join-conv {
    display: flex;
    flex-direction: column;

    align-items: center;
    color: blue;
}
.textarea {
    width: 80vw;
    height: 100px;
    border: 3px solid blue;
    border-color: blue;
    box-shadow: 4px 4px 4px #999;
    border-radius: 0.4em;
    font-size: 1.2em;
    color: inherit;
}
.online-users-buttons-container {
    display: flex;
}

.heading-and-x {
    display: flex;
    justify-content: space-between !important;
    margin-right: 20px;
    margin-bottom: 15px;
}

.video-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    justify-items: center;
}
